In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [3]:
Payment = pd.read_csv('Payment.csv')
Default = pd.read_csv('Default.csv')

In [4]:
data=pd.merge(Payment, Default, on="Account Number", how="outer" )

In [5]:
data["Mode"]=data[["Mode_Month_3","Mode_Month_2","Mode_Month_1"]].mode(axis=1)

del data["Mode_Month_1"], data["Mode_Month_2"], data["Mode_Month_3"]
del data["Day_Month_1_x"], data["Day_Month_2_x"], data["Day_Month_3_x"]
del data["Day_Month_1_y"], data["Day_Month_2_y"], data["Day_Month_3_y"]

> if Sum_Month is not 0 then turning down Nan Default_sum to 0.

In [6]:
data["Sum_1"]=np.where((data["Sum_Month_1"].isnull()) & (data["Default_sum_Month_1"].notnull()),0,data["Sum_Month_1"])
data["Sum_2"]=np.where((data["Sum_Month_2"].isnull()) & (data["Default_sum_Month_2"].notnull()),0,data["Sum_Month_2"])
data["Sum_3"]=np.where((data["Sum_Month_3"].isnull()) & (data["Default_sum_Month_3"].notnull()),0,data["Sum_Month_3"])

In [7]:
data["Default_Sum_1"]=np.where((data["Sum_Month_1"].notnull()) & (data["Default_sum_Month_1"].isnull()),0,data["Default_sum_Month_1"])
data["Default_Sum_2"]=np.where((data["Sum_Month_2"].notnull()) & (data["Default_sum_Month_2"].isnull()),0,data["Default_sum_Month_2"])
data["Default_Sum_3"]=np.where((data["Sum_Month_3"].notnull()) & (data["Default_sum_Month_3"].isnull()),0,data["Default_sum_Month_3"])

In [8]:
del data["Default_sum_Month_1"], data["Default_sum_Month_2"], data["Default_sum_Month_3"]
del data["Sum_Month_1"], data["Sum_Month_2"], data["Sum_Month_3"]

.

> If Nan in both Payment and default than filling Null with mean of other 2 months in both Payment and default.

In [9]:
data["X"]=data[["Sum_3","Sum_2","Sum_1"]].sum(axis=1)
data["Y"]=data[["Sum_3","Sum_2","Sum_1"]].count(axis=1)
data["Z"]=data["X"]/data["Y"]

data["Sum_1"]=data["Sum_1"].fillna(data["Z"])
data["Sum_2"]=data["Sum_2"].fillna(data["Z"])
data["Sum_3"]=data["Sum_3"].fillna(data["Z"])

data["X"]=data[["Default_Sum_3","Default_Sum_2","Default_Sum_1"]].sum(axis=1)
data["Y"]=data[["Default_Sum_3","Default_Sum_2","Default_Sum_1"]].count(axis=1)
data["Z"]=data["X"]/data["Y"]

data["Default_Sum_1"]=data["Default_Sum_1"].fillna(data["Z"])
data["Default_Sum_2"]=data["Default_Sum_2"].fillna(data["Z"])
data["Default_Sum_3"]=data["Default_Sum_3"].fillna(data["Z"])

del data["X"], data["Y"], data["Z"]

>

In [10]:
data["Defaults"]=0
data["Defaults"][data["Default_Sum_1"]!=0]=data["Defaults"].apply(lambda x: x+2)
data["Defaults"][data["Default_Sum_2"]!=0]=data["Defaults"].apply(lambda x: x+3)
data["Defaults"][data["Default_Sum_3"]!=0]=data["Defaults"].apply(lambda x: x+6)

C:\Users\HARSH\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\HARSH\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\HARSH\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

> .

In [11]:
data.isnull().any()

Account Number    False
Mode               True
Sum_1             False
Sum_2             False
Sum_3             False
Default_Sum_1     False
Default_Sum_2     False
Default_Sum_3     False
Defaults          False
dtype: bool

> Feature Engineering

In [12]:
data["Last_Month_Payment"] = data["Sum_3"]
data["Average_of_payment_of_last_two_month"] = (data["Sum_2"]+data["Sum_3"])/2
data["Average_of_payment_of_last_three_month"] = (data["Sum_2"]+data["Sum_3"] + data["Sum_1"])/3
del data["Sum_1"], data["Sum_2"], data["Sum_3"]

In [13]:
data["Last_Month_Default"] = data["Default_Sum_3"]
data["Average_of_default_of_last_two_month"] = (data["Default_Sum_2"]+data["Default_Sum_3"])/2
data["Average_of_default_of_last_three_month"] = (data["Default_Sum_2"]+data["Default_Sum_3"] + data["Default_Sum_1"])/3
del data["Default_Sum_1"], data["Default_Sum_2"], data["Default_Sum_3"]

In [14]:
data[data.Defaults>0]

,Account Number,Mode,Defaults,Last_Month_Payment,Average_of_payment_of_last_two_month,Average_of_payment_of_last_three_month,Last_Month_Default,Average_of_default_of_last_two_month,Average_of_default_of_last_three_month
5,M1002,Card II TYPE,11,1090.320,1090.32000,1090.3200,938.40,938.400,938.400000
39,M1039,Card II TYPE,11,877.590,2035.95000,2035.9500,735.80,901.300,901.300000
48,M1049,Paper based/Post,2,700.245,717.20250,479.8850,0.00,0.000,323.033333
75,M1077,Card II TYPE,5,920.010,920.01000,920.0100,0.00,388.100,517.466667
83,M1086,Card II TYPE,6,918.120,918.12000,918.1200,774.40,387.200,258.133333
88,M1091,Card II TYPE,5,1713.390,1581.77250,1054.5150,0.00,335.150,650.466667
102,M1105,Card II TYPE,6,755.370,755.37000,755.3700,619.40,309.700,206.466667
114,M1117,Card II TYPE,6,920.220,920.22000,920.2200,776.40,388.200,258.800000
128,M1133,Card II TYPE,3,1259.790,629.89500,629.8950,0.00,249.950,166.633333
137,M1142,Card II TYPE,2,918.120,918.12000,918.1200,0.00,0.000,258.133333
142,M1148,NaN,11,3.675,3.67500,3.6750,29.20,29.200,29.200000
149,M1154,Card II TYPE,8,751.380,751.38000,751.3800,615.60,307.800,410.400000
169,M1176,Paper based/Post,9,682.395,852.99375,1023.5925,549.90,412.425,274.950000
170,M1177,Card II TYPE,3,643.965,643.96500,643.9650,0.00,256.650,171.100000
172,M1179,Paper based/Post,8,8.400,9.45000,286.0550,739.90,369.950,489.966667
207,M1212,Card II TYPE,6,513.765,513.76500,513.7650,389.30,194.650,129.766667
208,M1214,Card II TYPE,3,493.815,493.81500,493.8150,0.00,185.150,123.433333
215,M1221,Card II TYPE,3,1009.785,504.89250,642.6350,0.00,387.200,258.133333
229,M1235,Card II TYPE,3,16.170,16.17000,16.1700,0.00,720.000,480.000000
246,M1254,Paper based/Post,2,1602.405,1538.04000,1025.3600,0.00,0.000,328.766667
255,M1264,Card II TYPE,9,1564.500,1173.37500,1043.0000,645.00,645.000,430.000000
278,M1286,Paper based/Post,2,51.870,796.63500,531.0900,0.00,0.000,135.266667
294,M1304,Card II TYPE,6,751.800,751.80000,751.8000,616.00,308.000,205.333333
320,M1330,Paper based/Post,9,1501.080,1313.44500,1125.8100,614.80,461.100,307.400000
334,M1346,Card II TYPE,6,629.895,629.89500,629.8950,499.90,249.950,166.633333
362,M1374,Paper based/Post,11,7.875,7.61250,10.1500,651.60,618.900,586.200000
363,M1375,Paper based/Post,11,1085.280,926.15250,926.1525,933.60,782.050,782.050000
391,M1404,Card I TYPE,9,2426.655,1671.28500,1537.6550,1338.80,1055.550,703.700000
405,M1419,Card II TYPE,3,754.425,859.42500,806.9250,0.00,409.250,272.833333
416,M1432,Card II TYPE,3,492.450,246.22500,414.7150,0.00,307.950,205.300000
...,...,...,...,...,...,...,...,...,...
14122,V74,NaN,11,0.000,0.00000,0.0000,899.90,899.900,899.900000
14123,M140,NaN,11,0.000,0.00000,0.0000,1638.30,1638.300,1638.300000
14124,M156,NaN,11,0.000,0.00000,0.0000,514.30,514.300,514.300000
14125,M170,NaN,11,0.000,0.00000,0.0000,4030.00,3211.800,4030.000000
14126,M5148,NaN,11,0.000,0.00000,0.0000,639.50,716.850,639.500000
14127,M5858,NaN,11,0.000,0.00000,0.0000,1109.90,1311.550,1109.900000
14128,M6436,NaN,11,0.000,0.00000,0.0000,865.40,865.400,865.400000
14129,M9937,NaN,11,0.000,0.00000,0.0000,1378.10,1378.100,1378.100000
14130,V1814,NaN,11,0.000,0.00000,0.0000,514.80,514.800,514.800000
14131,V2176,NaN,11,0.000,0.00000,0.0000,1468.90,1468.900,1468.900000
14132,V3269,NaN,11,0.000,0.00000,0.0000,750.10,750.100,750.100000
14133,V95,NaN,11,0.000,0.00000,0.0000,2893.45,3665.025,2893.450000
14134,M100,NaN,11,0.000,0.00000,0.0000,1037.20,1037.200,1037.200000
14135,M132,NaN,11,0.000,0.00000,0.0000,1405.50,1405.500,1405.500000
14136,M157,NaN,11,0.000,0.00000,0.0000,1464.70,1464.700,1464.700000
14137,M180,NaN,11,0.000,0.00000,0.0000,1911.70,1911.700,1911.700000
14138,M2125,NaN,11,0.000,0.00000,0.0000,255.50,255.500,255.500000
14139,M2525,NaN,11,0.000,0.00000,0.0000,1227.60,1227.600,1227.600000
14140,M3043,NaN,11,0.000,0.00000,0.0000,586.40,586.400,586.400000
14141,M8512,NaN,11,0.000,0.00000,0.0000,899.10,899.100,899.100000
14142,V111,NaN,11,0.000,0.00000,0.0000,908.70,908.700,908.700000
14143,V1883,NaN,11,0.000,0.00000,0.0000,519.60,519.600,519.600000
14144,V2011,NaN,11,0.000,0.00000,0.0000,30.00,30.000,30.000000
14145,V2413,NaN,11,0.000,0.00000,0.0000,123.30,123.300,123.300000
14146,V2765,NaN,11,0.000,0.00000,0.0000,773.30,773.300,773.300000
14147,V3293,NaN,11,0.000,0.00000,0.0000,705.90,705.900,705.900000
14148,V3574,NaN,11,0.000,0.00000,0.0000,523.50,523.500,523.500000
14149,V477,NaN,11,0.000,0.00000,0.0000,415.40,415.400,415.400000
14150,V783,NaN,11,0.000,0.00000,0.0000,1141.30,1141.300,1141.300000
14151,V79,NaN,11,0.000,0.00000,0.0000,1483.20,1483.200,1483.200000

In [15]:
data.Defaults.value_counts()

0     12421
11      390
6       274
2       260
9       253
3       215
8       171
5       168
Name: Defaults, dtype: int64

In [16]:
data.to_csv("Payment_Default11.csv",index=False)

In [17]:
data.isnull().sum()

Account Number                              0
Mode                                      993
Defaults                                    0
Last_Month_Payment                          0
Average_of_payment_of_last_two_month        0
Average_of_payment_of_last_three_month      0
Last_Month_Default                          0
Average_of_default_of_last_two_month        0
Average_of_default_of_last_three_month      0
dtype: int64

In [18]:
#no