In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_excel('Call Center data ..xlsx')
Demographic = pd.read_excel('Demographic_Data.xlsx')

In [3]:
data.shape

(12674, 3)

In [4]:
data.head()

  Account Number Query Date                      Full Statement of the Enquiry
0             M2 2015-03-12  FDAEDBG!-Initial LevelPayment Settlement-Accou...
1             M2 2015-03-15  FDA!CEGD-Initial LevelTech-Operational Capabil...
2             M2 2015-03-25  FDCE#GHA-Initial LevelTech-Operational Capabil...
3             M2 2015-03-28  FDC#FAAD-Initial LevelPayment Settlement-Opera...
4             M2 2015-03-29  FDC!HGF#-Initial LevelPayment Settlement-Accou...

In [5]:
data['Query Date'] = pd.to_datetime(data['Query Date'], format='%y-%m-%d')
data['Month'] = data['Query Date'].dt.month
data['Day'] = data['Query Date'].dt.day

In [6]:
expand=data["Full Statement of the Enquiry"].str.split('-', expand=True)
expand.columns=["first", "second" , "third", "fourth", "fifth", "sixth","seventh"]
data=pd.concat([data, expand], axis=1)

In [7]:
data.head()

,Account Number,Query Date,Full Statement of the Enquiry,Month,Day,first,second,third,fourth,fifth,sixth,seventh
0,M2,2015-03-12,FDAEDBG!-Initial LevelPayment Settlement-Accou...,3,12,FDAEDBG!,Initial LevelPayment Settlement,Account,Change,General Inquiry,None,None
1,M2,2015-03-15,FDA!CEGD-Initial LevelTech-Operational Capabil...,3,15,FDA!CEGD,Initial LevelTech,Operational Capabilities,Browsing,No Browse,None,None
2,M2,2015-03-25,FDCE#GHA-Initial LevelTech-Operational Capabil...,3,25,FDCE#GHA,Initial LevelTech,Operational Capabilities,Browsing,No Browse,None,None
3,M2,2015-03-28,FDC#FAAD-Initial LevelPayment Settlement-Opera...,3,28,FDC#FAAD,Initial LevelPayment Settlement,Operational Capabilities,Browsing,No Browse,None,None
4,M2,2015-03-29,FDC!HGF#-Initial LevelPayment Settlement-Accou...,3,29,FDC!HGF#,Initial LevelPayment Settlement,Account,General Information,Equipment Return,None,None

In [8]:
data.third.value_counts()

Account                      3391
Operational Capabilities     3109
Payment Settlement           3019
No support / Third Party     1001
Utilities                     795
Generic                       388
Service Order                 381
Outbound                      206
ABC#$@ Communication          187
Pre                            51
Retail Support                 42
Order Modification             28
Product                        16
Order Cancellation             16
Ent. Payment Settlement        11
Affiliate/Partner               9
Satellite Install Support       8
ECC Generic                     6
Refer                           4
CSAT Survey                     2
Repair Support                  2
Ent. Tech Support               1
                                1
Name: third, dtype: int64

In [9]:
del data["seventh"], data["sixth"], data["fifth"], data["fourth"], data["Full Statement of the Enquiry"], data["first"]

Look upon the third one

In [141]:
#del data["third"]

In [10]:
data.head()

,Account Number,Query Date,Month,Day,second,third
0,M2,2015-03-12,3,12,Initial LevelPayment Settlement,Account
1,M2,2015-03-15,3,15,Initial LevelTech,Operational Capabilities
2,M2,2015-03-25,3,25,Initial LevelTech,Operational Capabilities
3,M2,2015-03-28,3,28,Initial LevelPayment Settlement,Operational Capabilities
4,M2,2015-03-29,3,29,Initial LevelPayment Settlement,Account

In [11]:
#

In [ ]:
#

In [13]:
data["Initial_Level_Payment_Settlement"]=data["second"].apply(lambda x: int(x=="Initial LevelPayment Settlement"))
data["Initial_Level_Tech"]=data["second"].apply(lambda x: int(x=="Initial LevelTech"))

In [14]:
data["Account"]=data["third"].apply(lambda x: int(x=="Account"))
data["Operational_Capabilities"]=data["third"].apply(lambda x: int(x=="Operational Capabilities"))
data["Payment_Settlement"]=data["third"].apply(lambda x: int(x=="Payment Settlement"))
data["Utilities"]=data["third"].apply(lambda x: int(x=="Utilities"))

In [15]:
Month_3=data[(data["Month"]==3) | (data["Month"]==7)][["Account Number","Initial_Level_Payment_Settlement","Initial_Level_Tech","Account","Operational_Capabilities","Payment_Settlement","Utilities"]]  
Month_2=data[(data["Month"]==2) | (data["Month"]==6)][["Account Number","Initial_Level_Payment_Settlement","Initial_Level_Tech","Account","Operational_Capabilities","Payment_Settlement","Utilities"]]
Month_1=data[(data["Month"]==1) | (data["Month"]==5)][["Account Number","Initial_Level_Payment_Settlement","Initial_Level_Tech","Account","Operational_Capabilities","Payment_Settlement","Utilities"]]

In [16]:
Month_3.head()

,Account Number,Initial_Level_Payment_Settlement,Initial_Level_Tech,Account,Operational_Capabilities,Payment_Settlement,Utilities
0,M2,1,0,1,0,0,0
1,M2,0,1,0,1,0,0
2,M2,0,1,0,1,0,0
3,M2,1,0,0,1,0,0
4,M2,1,0,1,0,0,0

In [164]:
f = {'Initial_Level_Payment_Settlement':['sum'], 'Initial_Level_Tech':['sum'],'Account':['sum'], 'Operational_Capabilities':['sum'], 'Payment_Settlement':['sum'], 'Utilities':['sum'] }   
Month_1=Month_1.groupby(["Account Number"],as_index=False).agg(f)
Month_2=Month_2.groupby(["Account Number"],as_index=False).agg(f)
Month_3=Month_3.groupby(["Account Number"],as_index=False).agg(f)

In [17]:
Month_1.columns=["Account Number","Initial_Level_Tech_1","Initial_Level_Payment_Settlement_1","Account_1","Payment_Settlement_1","Operational_Capabilities_1","Utilities_1"]
Month_2.columns=["Account Number","Initial_Level_Tech_2","Initial_Level_Payment_Settlement_2","Account_2","Payment_Settlement_2","Operational_Capabilities_2","Utilities_2"]    
Month_3.columns=["Account Number","Initial_Level_Tech_3","Initial_Level_Payment_Settlement_3","Account_3","Payment_Settlement_3","Operational_Capabilities_3","Utilities_3"]

In [18]:
Month_3.shape, Month_2.shape, Month_1.shape

((4444, 7), (4153, 7), (4077, 7))

In [19]:
main1= pd.merge(Month_1, Month_2, on="Account Number",how="outer")
main=pd.merge(Month_3, main1, on="Account Number", how="outer" )

In [20]:
main.head()

,Account Number,Initial_Level_Tech_3,Initial_Level_Payment_Settlement_3,Account_3,Payment_Settlement_3,Operational_Capabilities_3,Utilities_3,Initial_Level_Tech_1,Initial_Level_Payment_Settlement_1,Account_1,Payment_Settlement_1,Operational_Capabilities_1,Utilities_1,Initial_Level_Tech_2,Initial_Level_Payment_Settlement_2,Account_2,Payment_Settlement_2,Operational_Capabilities_2,Utilities_2
0,M2,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M2,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M2,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M2,1.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M2,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

> Filling Null with Zeroes

In [21]:
main=main.fillna(0)

>

> Feature Engineering

In [22]:
main["Initial_Level_Tech"] = (6*main["Initial_Level_Tech_3"] + 3*main["Initial_Level_Tech_2"] + 2*main["Initial_Level_Tech_1"])/6
main["Account"]            = (6*main["Account_3"] + 3*main["Account_2"] + 2*main["Account_1"])/6
main["Payment_Settlement"] = (6*main["Payment_Settlement_3"] + 3*main["Payment_Settlement_2"] + 2*main["Payment_Settlement_1"])/6
main["Utilities"] = (6*main["Utilities_3"] + 3*main["Utilities_2"] + 2*main["Utilities_1"])/6
main["Operational_Capabilities"] = (6*main["Operational_Capabilities_3"] + 3*main["Operational_Capabilities_2"] + 2*main["Operational_Capabilities_1"])/6
main["Initial_Level_Payment_Settlement"] = (6*main["Initial_Level_Payment_Settlement_3"] + 3*main["Initial_Level_Payment_Settlement_2"] + 2*main["Initial_Level_Payment_Settlement_1"])/6

In [23]:
del main["Initial_Level_Tech_1"], main["Account_1"], main["Payment_Settlement_1"], main["Utilities_1"], main["Operational_Capabilities_1"],main["Initial_Level_Payment_Settlement_1"]      
del main["Initial_Level_Tech_2"], main["Account_2"], main["Payment_Settlement_2"], main["Utilities_2"], main["Operational_Capabilities_2"],main["Initial_Level_Payment_Settlement_2"]               
del main["Initial_Level_Tech_3"], main["Account_3"], main["Payment_Settlement_3"], main["Utilities_3"], main["Operational_Capabilities_3"],main["Initial_Level_Payment_Settlement_3"]

In [24]:
main.columns

Index(['Account Number', 'Initial_Level_Tech', 'Account', 'Payment_Settlement',
       'Utilities', 'Operational_Capabilities',
       'Initial_Level_Payment_Settlement'],
      dtype='object')

In [27]:
main.shape

(15489, 7)

In [34]:
main["Payment_Settlement"][main["Payment_Settlement"]>0]

1        1.000000
2        1.000000
3        1.000000
8        1.000000
9        1.000000
16       0.333333
17       0.333333
18       0.333333
19       0.333333
20       0.333333
21       0.333333
22       0.333333
23       0.333333
24       0.333333
25       0.333333
26       0.333333
27       0.333333
28       0.333333
29       0.333333
30       0.333333
31       0.333333
48       0.333333
49       0.333333
50       0.333333
51       0.333333
52       0.333333
53       0.333333
54       0.333333
55       0.333333
56       0.333333
           ...
15416    0.500000
15427    0.500000
15430    0.500000
15431    0.500000
15432    0.500000
15439    0.500000
15441    0.500000
15443    0.500000
15445    0.500000
15447    0.500000
15448    0.500000
15452    0.500000
15453    0.500000
15455    0.500000
15461    0.500000
15462    0.500000
15463    0.500000
15465    0.500000
15466    0.500000
15468    0.500000
15469    0.500000
15470    0.500000
15471    0.500000
15473    0.500000
15474    0.500000
15477    0.500000
15478    0.500000
15481    0.500000
15483    0.500000
15486    0.500000
Name: Payment_Settlement, dtype: float64

In [174]:
main.isnull().sum()

Account Number                        0
Initial_Level_Tech_3                  0
Initial_Level_Payment_Settlement_3    0
Account_3                             0
Payment_Settlement_3                  0
Operational_Capabilities_3            0
Utilities_3                           0
Initial_Level_Tech_1                  0
Initial_Level_Payment_Settlement_1    0
Account_1                             0
Payment_Settlement_1                  0
Operational_Capabilities_1            0
Utilities_1                           0
Initial_Level_Tech_2                  0
Initial_Level_Payment_Settlement_2    0
Account_2                             0
Payment_Settlement_2                  0
Operational_Capabilities_2            0
Utilities_2                           0
dtype: int64

In [153]:
main.to_csv("Call_Center.csv",index=False)

In [154]:
main["Account Number"].value_counts()

M6999    1
M7237    1
M6829    1
M6244    1
V3065    1
M8334    1
M3948    1
M3038    1
M4047    1
M7210    1
V1662    1
M3014    1
M6174    1
M9753    1
M3362    1
M1977    1
V2283    1
M6402    1
M5996    1
V3516    1
M4894    1
V3147    1
M4698    1
M7944    1
V4961    1
M9811    1
V3658    1
M7231    1
M5822    1
M8436    1
        ..
M7878    1
M7991    1
M4247    1
M976     1
M8919    1
M7384    1
M8441    1
V3657    1
M6969    1
V4308    1
V987     1
M9976    1
M9707    1
M3452    1
M5835    1
M2826    1
M5564    1
V181     1
M8264    1
M5989    1
M7444    1
M4949    1
M9232    1
M3358    1
M6358    1
V4725    1
M6408    1
M5575    1
V4811    1
M771     1
Name: Account Number, dtype: int64

In [155]:
#no