In [17]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [33]:
from matplotlib import rcParams
#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (8, 3)
rcParams['figure.dpi'] = 150
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 2
rcParams['font.size'] = 14
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'
rcParams['axes.grid'] = True
rcParams['axes.facecolor'] = '#eeeeee'

C:\Users\HARSH\Anaconda3\lib\site-packages\matplotlib\__init__.py:878: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [34]:
data = pd.read_excel('Default Data.xlsx')

In [35]:
data["date of default"] = pd.to_datetime(data['date of default'], format='%y-%m-%d')

data['Month'] = data['date of default'].dt.month
data['Day'] = data['date of default'].dt.day

In [36]:
data.head()

  Account Number date of default  Default sum  Month  Day
0           M100      2015-02-25       1037.2      2   25
1           M104      2015-03-13        611.8      3   13
2           M114      2015-03-07       2193.5      3    7
3           M125      2015-03-02        507.8      3    2
4           M132      2015-02-27       1405.5      2   27

In [37]:
Month_3=data[(data["Month"]==3) | (data["Month"]==7)][["Account Number","Default sum","Day"]]
Month_2=data[(data["Month"]==2) | (data["Month"]==6)][["Account Number","Default sum","Day"]]
Month_1=data[(data["Month"]==1) | (data["Month"]==5)][["Account Number","Default sum","Day"]]

In [38]:
f = {'Default sum':['sum'], 'Day':lambda y:int(y.mean())}
Month_1=Month_1.groupby(["Account Number"],as_index=False).agg(f)
Month_2=Month_2.groupby(["Account Number"],as_index=False).agg(f)
Month_3=Month_3.groupby(["Account Number"],as_index=False).agg(f)

In [39]:
Month_1.columns=["Account Number","Default_sum_Month_1","Day_Month_1"]
Month_2.columns=["Account Number","Default_sum_Month_2","Day_Month_2"]
Month_3.columns=["Account Number","Default_sum_Month_3","Day_Month_3"]

In [40]:
main1= pd.merge(Month_1, Month_2, on="Account Number",how="outer")
main=pd.merge(Month_3, main1, on="Account Number", how="outer" )
main=main.sort_index()

In [41]:
Month_1.shape, Month_2.shape, Month_3.shape, main.shape

((762, 3), (781, 3), (915, 3), (1731, 7))

In [42]:
main.head()

,Account Number,Default_sum_Month_3,Day_Month_3,Default_sum_Month_1,Day_Month_1,Default_sum_Month_2,Day_Month_2
0,M1002,10.0,938.4,8.0,938.4,8.0,938.4
1,M1039,12.0,735.8,NaN,NaN,12.0,1066.8
2,M104,13.0,611.8,NaN,NaN,NaN,NaN
3,M1045,31.0,649.8,NaN,NaN,NaN,NaN
4,M1086,12.0,774.4,NaN,NaN,NaN,NaN

In [43]:
main[main["Account Number"]=="V3956"]

,Account Number,Default_sum_Month_3,Day_Month_3,Default_sum_Month_1,Day_Month_1,Default_sum_Month_2,Day_Month_2
874,V3956,9.0,862.6,9.0,855.2,NaN,NaN

In [29]:
main.shape

(1731, 7)

In [30]:
main["Account Number"].value_counts()

V610     1
M6208    1
M6908    1
V2412    1
V2632    1
M1673    1
M2536    1
M8769    1
M3203    1
M9902    1
M1374    1
M323     1
M5982    1
M7819    1
V1475    1
V1410    1
M4643    1
M3305    1
M4229    1
V2176    1
V3550    1
V1359    1
M6054    1
M6930    1
M9096    1
M7957    1
M8092    1
M2266    1
M3563    1
V2854    1
        ..
V1576    1
M3556    1
M5923    1
M5086    1
M4123    1
M4512    1
M8655    1
M1976    1
M6061    1
M9810    1
M6340    1
M6700    1
M2548    1
M2418    1
M6661    1
M4810    1
M2790    1
V1540    1
V2773    1
V1219    1
M3610    1
M7132    1
V3067    1
M1719    1
V810     1
M737     1
M2517    1
V3445    1
M3214    1
M372     1
Name: Account Number, dtype: int64

In [31]:
main.to_csv('Default.csv', index=False)

In [32]:
#no