In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [2]:
data = pd.read_excel('Pattern Use.xlsx')

In [3]:
data["YYYYMM"]=data["YYYYMM"].astype(str)

In [4]:
data['Year'] = data['YYYYMM'].str[0:4]
data['Month'] = data['YYYYMM'].str[4:]

In [5]:
data.head()

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,YYYYMM,Year,Month
0,M1,717.90,0,43.80,201501,2015,01
1,M1,662.42,0,110.35,201502,2015,02
2,M1,634.68,0,109.10,201503,2015,03
3,M2,696.12,5,98.40,201501,2015,01
4,M2,652.40,0,70.90,201502,2015,02

In [6]:
data["Month"]=data["Month"].astype(int)

In [7]:
data["Account Number "]

0           M1
1           M1
2           M1
3           M2
4           M2
5           M2
6           M3
7           M3
8           M3
9           M4
10          M4
11          M4
12          M5
13          M5
14          M5
15          M6
16          M6
17          M6
18          M7
19          M7
20          M7
21          M8
22          M8
23          M8
24          M9
25          M9
26          M9
27         M10
28         M10
29         M10
         ...
41700    V4991
41701    V4991
41702    V4991
41703    V4992
41704    V4992
41705    V4992
41706    V4993
41707    V4993
41708    V4993
41709    V4994
41710    V4994
41711    V4994
41712    V4995
41713    V4995
41714    V4995
41715    V4996
41716    V4996
41717    V4996
41718    V4997
41719    V4997
41720    V4997
41721    V4998
41722    V4998
41723    V4998
41724    V4999
41725    V4999
41726    V4999
41727    V5000
41728    V5000
41729    V5000
Name: Account Number , dtype: object

In [8]:
Month_3=data[(data["Month"]==3) | (data["Month"]==7)][["Account Number ","Used pattern in hours","Usage Post Limit Utilization in hrs","data used Gb"]]
Month_2=data[(data["Month"]==2) | (data["Month"]==6)][["Account Number ","Used pattern in hours","Usage Post Limit Utilization in hrs","data used Gb"]]
Month_1=data[(data["Month"]==1) | (data["Month"]==5)][["Account Number ","Used pattern in hours","Usage Post Limit Utilization in hrs","data used Gb"]]

In [9]:
Month_1.columns=["Account Number","Used pattern_Month_1","Usage Post Limit_Month_1","data used_Month_1"]
Month_2.columns=["Account Number","Used pattern_Month_2","Usage Post Limit_Month_2","data used_Month_2"]
Month_3.columns=["Account Number","Used pattern_Month_3","Usage Post Limit_Month_3","data used_Month_3"]

In [10]:
Month_3.shape, Month_2.shape, Month_1.shape

((14327, 4), (13898, 4), (13505, 4))

In [11]:
main1= pd.merge(Month_1, Month_2, on="Account Number",how="outer")
data=pd.merge(Month_3, main1, on="Account Number", how="outer" )

In [12]:
data.shape

(14539, 10)

> Filling Nan of Pattern Use with the mean of other month Pattern use.

In [13]:
data["X"]=data[["Used pattern_Month_3","Used pattern_Month_2","Used pattern_Month_1"]].sum(axis=1)
data["Y"]=data[["Used pattern_Month_3","Used pattern_Month_2","Used pattern_Month_1"]].count(axis=1)
data["Z"]=data["X"]/data["Y"]

data["Used pattern_Month_1"]=data["Used pattern_Month_1"].fillna(data["Z"])
data["Used pattern_Month_2"]=data["Used pattern_Month_2"].fillna(data["Z"])
data["Used pattern_Month_3"]=data["Used pattern_Month_3"].fillna(data["Z"])

data["X"]=data[["Usage Post Limit_Month_3","Usage Post Limit_Month_2","Usage Post Limit_Month_1"]].sum(axis=1)
data["Y"]=data[["Usage Post Limit_Month_3","Usage Post Limit_Month_2","Usage Post Limit_Month_1"]].count(axis=1)
data["Z"]=data["X"]/data["Y"]

data["Usage Post Limit_Month_1"]=data["Usage Post Limit_Month_1"].fillna(data["Z"])
data["Usage Post Limit_Month_2"]=data["Usage Post Limit_Month_2"].fillna(data["Z"])
data["Usage Post Limit_Month_3"]=data["Usage Post Limit_Month_3"].fillna(data["Z"])

data["X"]=data[["data used_Month_3","data used_Month_2","data used_Month_1"]].sum(axis=1)
data["Y"]=data[["data used_Month_3","data used_Month_2","data used_Month_1"]].count(axis=1)
data["Z"]=data["X"]/data["Y"]

data["data used_Month_1"]=data["data used_Month_1"].fillna(data["Z"])
data["data used_Month_2"]=data["data used_Month_2"].fillna(data["Z"])
data["data used_Month_3"]=data["data used_Month_3"].fillna(data["Z"])

del data["X"], data["Y"], data["Z"]

>

> Feature Engineering

In [14]:
data["Limit_Defaults"]=0
data["Limit_Defaults"][data["Usage Post Limit_Month_1"]!=0]=data["Limit_Defaults"].apply(lambda x: x+2)
data["Limit_Defaults"][data["Usage Post Limit_Month_2"]!=0]=data["Limit_Defaults"].apply(lambda x: x+3)
data["Limit_Defaults"][data["Usage Post Limit_Month_3"]!=0]=data["Limit_Defaults"].apply(lambda x: x+6)

C:\Users\HARSH\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\HARSH\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\HARSH\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
data["Last_Month_used_pattern"] = data["Used pattern_Month_3"]
data["Average_of_used_pattern_of_last_two_month"] = (data["Used pattern_Month_2"]+data["Used pattern_Month_3"])/2
data["Average_of_used_pattern_of_last_three_month"] = (data["Used pattern_Month_2"]+data["Used pattern_Month_3"] + data["Used pattern_Month_1"])/3
del data["Used pattern_Month_1"], data["Used pattern_Month_2"], data["Used pattern_Month_3"]

In [16]:
data["Last_Month_Post_Limit"] = data["Usage Post Limit_Month_3"]
data["Average_of_Post_Limit_of_last_two_month"] = (data["Usage Post Limit_Month_2"]+data["Usage Post Limit_Month_3"])/2
data["Average_of_Post_Limit_of_last_three_month"] = (data["Usage Post Limit_Month_2"]+data["Usage Post Limit_Month_3"] + data["Usage Post Limit_Month_1"])/3
del data["Usage Post Limit_Month_1"], data["Usage Post Limit_Month_2"], data["Usage Post Limit_Month_3"]

In [17]:
data.head()

,Account Number,data used_Month_3,data used_Month_1,data used_Month_2,Limit_Defaults,Last_Month_used_pattern,Average_of_used_pattern_of_last_two_month,Average_of_used_pattern_of_last_three_month,Last_Month_Post_Limit,Average_of_Post_Limit_of_last_two_month,Average_of_Post_Limit_of_last_three_month
0,M1,109.1,43.80,110.35,0,634.68,648.550,671.666667,0.0,0.0,0.000000
1,M2,103.5,98.40,70.90,2,495.77,574.085,614.763333,0.0,0.0,1.666667
2,M3,75.1,69.85,49.90,0,743.73,637.600,670.940000,0.0,0.0,0.000000
3,M4,56.6,58.70,56.70,0,598.20,633.650,670.176667,0.0,0.0,0.000000
4,M5,1.4,12.50,3.70,0,598.23,503.830,431.060000,0.0,0.0,0.000000

In [18]:
data["Last_MOnth_data_used"] = data["data used_Month_3"]
data["Average_of_data_used_of_last_two_month"] = (data["data used_Month_2"]+data["data used_Month_3"])/2
data["Average_of_data_used_of_last_three_month"] = (data["data used_Month_2"]+data["data used_Month_3"] + data["data used_Month_1"])/3
del data["data used_Month_1"], data["data used_Month_2"], data["data used_Month_3"]

In [19]:
data.head()

,Account Number,Limit_Defaults,Last_Month_used_pattern,Average_of_used_pattern_of_last_two_month,Average_of_used_pattern_of_last_three_month,Last_Month_Post_Limit,Average_of_Post_Limit_of_last_two_month,Average_of_Post_Limit_of_last_three_month,Last_MOnth_data_used,Average_of_data_used_of_last_two_month,Average_of_data_used_of_last_three_month
0,M1,0,634.68,648.550,671.666667,0.0,0.0,0.000000,109.1,109.725,87.750000
1,M2,2,495.77,574.085,614.763333,0.0,0.0,1.666667,103.5,87.200,90.933333
2,M3,0,743.73,637.600,670.940000,0.0,0.0,0.000000,75.1,62.500,64.950000
3,M4,0,598.20,633.650,670.176667,0.0,0.0,0.000000,56.6,56.650,57.333333
4,M5,0,598.23,503.830,431.060000,0.0,0.0,0.000000,1.4,2.550,5.866667

In [20]:
data.to_csv('Pattern_Use.csv', index=False)

In [21]:
#no