In [20]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [21]:
from matplotlib import rcParams
#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (8, 3)
rcParams['figure.dpi'] = 150
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 2
rcParams['font.size'] = 14
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'
rcParams['axes.grid'] = True
rcParams['axes.facecolor'] = '#eeeeee'

C:\Users\HARSH\Anaconda3\lib\site-packages\matplotlib\__init__.py:878: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [22]:
data = pd.read_excel('Payment_Data.xlsx')

In [23]:
data['Realization Date'] = pd.to_datetime(data['Realization Date'], format='%y-%m-%d')

data['Year'] = data['Realization Date'].dt.year
data['Month'] = data['Realization Date'].dt.month
data['Day'] = data['Realization Date'].dt.day

In [24]:
data.tail()

      Account Number Realization Date     Sum          Mode   Year  Month  Day
40439          V4552       2015-07-03  642.39   Card II TYPE  2015      7    3
40440          V4553       2015-06-13  682.29   Card II TYPE  2015      6   13
40441          V4553       2015-05-13  682.29   Card II TYPE  2015      5   13
40442          V4553       2015-07-13  682.29   Card II TYPE  2015      7   13
40443          V4554       2015-06-04  728.70   Card II TYPE  2015      6    4

In [25]:
data["Year"].unique(), data["Month"].unique()

(array([2015], dtype=int64), array([3, 2, 1, 6, 5, 7], dtype=int64))

In [26]:
Month_3=data[(data["Month"]==3) | (data["Month"]==7)][["Account Number","Sum","Day","Mode "]]
Month_2=data[(data["Month"]==2) | (data["Month"]==6)][["Account Number","Sum","Day","Mode "]]
Month_1=data[(data["Month"]==1) | (data["Month"]==5)][["Account Number","Sum","Day","Mode "]]

In [27]:
Month_3.columns

Index(['Account Number', 'Sum', 'Day', 'Mode '], dtype='object')

In [28]:
f = {'Sum':['sum'], 'Day':lambda y:int(y.mean()),"Mode ":lambda x:x.value_counts().index[0]}
Month_1=Month_1.groupby(["Account Number"],as_index=False).agg(f)
Month_2=Month_2.groupby(["Account Number"],as_index=False).agg(f)
Month_3=Month_3.groupby(["Account Number"],as_index=False).agg(f)

In [29]:
Month_1.columns

MultiIndex(levels=[['Sum', 'Mode ', 'Day', 'Account Number'], ['<lambda>', 'sum', '']],
           labels=[[3, 0, 1, 2], [2, 1, 0, 0]])

In [30]:
Month_1.columns=["Account Number","Mode_Month_1","Sum_Month_1","Day_Month_1"]
Month_2.columns=["Account Number","Mode_Month_2","Sum_Month_2","Day_Month_2"]
Month_3.columns=["Account Number","Mode_Month_3","Sum_Month_3","Day_Month_3"]

In [31]:
Month_3.shape, Month_2.shape, Month_1.shape

((13355, 4), (12277, 4), (12693, 4))

In [32]:
main1= pd.merge(Month_1, Month_2, on="Account Number",how="outer")
main=pd.merge(Month_3, main1, on="Account Number", how="outer" )

In [33]:
main["Account Number"].value_counts()

M7241    1
M3846    1
V3742    1
M6386    1
V3186    1
M9534    1
V4362    1
M8659    1
M3821    1
M7507    1
M521     1
M4598    1
M957     1
M4208    1
M6501    1
V3183    1
M3077    1
V4303    1
M2239    1
V1903    1
V2504    1
M4151    1
V3873    1
M7076    1
V1741    1
V1676    1
M4446    1
V3154    1
M8694    1
V4328    1
        ..
M9960    1
M2412    1
M2101    1
V391     1
M1880    1
M7234    1
V1568    1
M1035    1
V3859    1
M9024    1
M9321    1
M516     1
M8199    1
M881     1
M3390    1
V4511    1
M8610    1
M7800    1
M597     1
V708     1
V370     1
M5015    1
M5218    1
V1365    1
M5900    1
V2381    1
M2819    1
V1384    1
M980     1
M8252    1
Name: Account Number, dtype: int64

In [34]:
main.to_csv('Payment.csv', index=False)

In [35]:
main[main["Account Number"]=="V4533"]

,Account Number,Mode_Month_3,Sum_Month_3,Day_Month_3,Mode_Month_1,Sum_Month_1,Day_Month_1,Mode_Month_2,Sum_Month_2,Day_Month_2
12805,V4533,1428.945,Card I TYPE,30.0,775.635,Card I TYPE,30.0,832.965,Card I TYPE,30.0

In [36]:
main.iloc[5000]

Account Number            M5971
Mode_Month_3            1724.31
Sum_Month_3        Card II TYPE
Day_Month_3                  22
Mode_Month_1            3271.06
Sum_Month_1        Card II TYPE
Day_Month_1                  22
Mode_Month_2            1724.31
Sum_Month_2        Card II TYPE
Day_Month_2                  22
Name: 5000, dtype: object

In [37]:
main.columns

Index(['Account Number', 'Mode_Month_3', 'Sum_Month_3', 'Day_Month_3',
       'Mode_Month_1', 'Sum_Month_1', 'Day_Month_1', 'Mode_Month_2',
       'Sum_Month_2', 'Day_Month_2'],
      dtype='object')

In [38]:
#no